<header mat-dialog-title>
    {{data?.formInformation?.title}}
</header>
<div mat-dialog-content>
    <app-form [formInformation]="data.formInformation"></app-form>
</div>
<div mat-dialog-actions>
    <div class="btn-group">
        <button class="btn btn-info" (click)="saveDone()">Save And Close</button>
        <button class="btn btn-info" (click)="saveAddMore()">Save And Add More</button>
        <button class="btn btn-danger" (click)="closeForm()">Close</button>
    </div>
    <div class="bg-danger text-danger">
        <div *ngFor="let validation of validations">
            {{validation}}
        </div>
    </div>
</div>